{% extends 'GreenPen/bs_base.html' %}

{% load static %}

{% block title %}Exam Details{% endblock title %}
{% block description %}These are the details of the exam {{ exam.name }}.{% endblock description %}

{% block content %}

        <!-- End of form media -->

        <form method="post">
            {% csrf_token %}
            <div class="row row-height">
                <div class="col-md-12">
                    {% include 'GreenPen/exams/exam-form.html' %}
                    <button type="submit" class="btn btn-primary">Save</button>

                </div>

            </div>
        </form>

    </div>

{% endblock content %}

{% block script %}

    {{ exam_form.media }}

{% endblock script %}
