{% extends 'GreenPen/bs_base.html' %}
{% load auth_extras %}
{% block content %}
    <h1>Exam list</h1>
    <div class="card-group">
        {% for exam in object_list %}
            <div class="col-lg-4">
                <div class="card h-100 d-flex flex-column justify-content-between">
                    <div class="card-header">
                        <h5 class="card-title"><a href="{% url 'edit-exam' exam.pk %}" class="card-title">{{ exam.name }}</a></h5>
                    </div>
                        <ul class="list-group list-group-flush align-top align-items-top">
                            {% for sitting in exam.sitting_set.all %}
                                <li class="list-group-item d-flex justify-content-between align-items-center"><a href="{% url 'exam-results' sitting.pk %}">{{ sitting.date }}: {{ sitting.group }}</a>
                                <span class="badge {{ sitting.avg_pc_badge_class }} badge-pill">{{ sitting.avg_percent }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    <div class="card-footer align-bottom align-items-bottom">
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'new-sitting' exam.pk %}" class="card-link"><i class="fas fa-plus"></i>Add sitting</a>
                            <a href="{% url 'duplicate-exam' exam.pk %}"><i class="far fa-copy"></i>Duplicate</a>
                        </div>
                    </div>
                    </div>
            </div>
        {% endfor %}
    </div>
   <div class="savebar">
        <a href="{% url 'add-exam' %}" class="btn btn-success float-right">+ add exam</a>
   </div>



{% endblock content %}