{% extends 'GreenPen/bs_base.html' %}
{% load auth_extras %}
{% block content %}
    <h1>Exam list</h1>

    <div class="card-group">
        {% for exam in object_list %}
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-body align-items-top">
                        <a href="{% url 'edit-exam' exam.pk %}" class="card-title">{{ exam.name }}</a>
                    </div>
                        <ul class="list-group list-group-flush align-self-stretch">
                            {% for sitting in exam.sitting_set.all %}
                                <li class="list-group-item d-flex justify-content-between align-items-center"><a href="{% url 'exam-results' sitting.pk %}">{{ sitting.date }}: {{ sitting.group }}</a>
                                <span class="badge {{ sitting.avg_pc_badge_class }} badge-pill">{{ sitting.avg_percent }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
            </div>
        {% endfor %}
    </div>
   <div class="savebar">
        <a href="{% url 'add-exam' %}" class="btn btn-success float-right">+ add exam</a>
   </div>



{% endblock content %}