{% extends 'GreenPen/bs_base.html' %}

{% load static %}

{% block title %}Exam Details{% endblock title %}
{% block description %}These are the details of the exam {{ exam.name }}.{% endblock description %}

{% block content %}
    <div class="container-fluid h-100 d-flex flex-column">

        <!-- End of form media -->

        <form method="post">
            {% csrf_token %}
            <div class="row row-height">
                <div class="col-md-6 left">
                    {% include 'GreenPen/exams/exam-form.html' %}
                </div>
                <div class="col-md-6 right">
                    {% include 'GreenPen/exams/exam-questions-form.html' %}
                </div>
            </div>
        </form>

    </div>

{% endblock content %}

{% block script %}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static "js/move_questions.js"%}"></script>

    <script src="{% static "js/log_initial_exam_syllabus_items.js" %}"></script>

    {{ exam_form.media }}


    <!-- Start of form media -->
    <link href="/staticfiles/admin/css/vendor/select2/select2.css" type="text/css" media="screen" rel="stylesheet">
    <link href="/staticfiles/admin/css/autocomplete.css" type="text/css" media="screen" rel="stylesheet">
    <link href="/staticfiles/autocomplete_light/select2.css" type="text/css" media="screen" rel="stylesheet">
    <script src="/staticfiles/admin/js/vendor/select2/select2.full.js"></script>
    <script src="/staticfiles/autocomplete_light/autocomplete_light.js"></script>
    <script src="/staticfiles/autocomplete_light/select2.js"></script>
    <script src="/staticfiles/autocomplete_light/i18n/en.js"></script>
    <script defer src="{% static "js/set_tree_green_if_added.js" %}"></script>
{% endblock script %}
