{% extends 'GreenPen/bs_base.html' %}
{% load crispy_forms_tags %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

{% endblock head %}
{% block content %}
    <div class="row">
<h1>Input Mark</h1>
        </div>
    <div class="row">
        <div class="col">
            <div class="card-body">
                <h3>Student: {{ mark.student }}</h3>
                <h3>Exam: {{ mark.question.exam }}</h3>
                <h3>Question: {{ mark.question }}</h3>
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">{{form.score|as_crispy_field}}</div><div class="col">/ {{ mark.question.max_score }}</div>
                    </div>
                    <div class="row">
                        <div class="col" id="mistake-tree">{{ form.mistakes }}</div>
                    </div>
                    <div class="row">
                        <div class="col">
                    {{ form.student_notes|as_crispy_field }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Next</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
{{ form.media }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
   <script>
    $(function () { $('#mistake-tree').jstree({
    "checkbox" : {
      "keep_selected_style" : false
    },
    "plugins" : [ "checkbox" ]
  }); });
</script>
{% endblock script %}