{% extends 'GreenPen/bs_base.html' %}
{% load crispy_forms_tags %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
 <script src="/staticfiles/vendor/jquery/jquery.min.js"></script>
{% endblock head %}
{% block content %}
    <div class="row">
<h1>Input Mark</h1>
        </div>
    <div class="row">
        <div class="col">
            <div class="card-body">
                <h3>Student: {{ mark.student }}</h3>
                <h3>Exam: {{ mark.question.exam }}</h3>
                <h3>Question: {{ mark.question }}</h3>
                <div class="row">
                    <div class="col-md-12">
                        This question testsed:
                        <ul class="list-group">
                            {% for point in mark.question.syllabus_points.all %}<li class="list-group-item">{{ point }}</li>{% endfor %}
                        </ul>
                    </div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">{{form.score|as_crispy_field}}</div><div class="col">/ {{ mark.question.max_score }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ form.mistakes | as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col">
                    {{ form.student_notes }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Next</button>
                    {{ form.media }}
                </form>
                {% if back_url %}
                    <a href="{{ back_url }}" class="btn btn-warning">Discard and go back</a>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock content %}
{% block script %}
{{ form.media }}

{% endblock script %}