{% extends 'GreenPen/bs_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Change lesson number {{ lesson.order }} for {{ lesson.teachinggroup }} on {{ lesson.slot.date }}</h1>
<div class="container">
<form method="post" action="{% url 'edit_lesson' lesson.pk return_pk %}">
{% csrf_token %}
    {{ form|crispy }}
{# HACK - should have error handling in our syllabus form... #}

{% if lesson.resources.all.count %}
    <table class="table">
    <thead>
    <tr>
        <td>Resource</td>
        <td></td>
    </tr>
    </thead>
    {% for resource in lesson.resources.all %}
        <tbod>
        <tr>
            <td><a href="{% url 'edit-resource' resource.pk %}">{{ resource.name }}</a></td>
            <td>
                {{ resource.html }} <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalDelete_{{ resource.pk}}"><i class="fa fa-trash" aria-hidden="true"></i>
            </button>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModalUnlink_{{ resource.pk}}"><i class="fas fa-unlink"></i>

                    </button>
            </td>
        </tr>
        </tbod>
    {% endfor %}
    </table>
    <!-- Modal deletes -->
    {% for resource in lesson.resources.all %}
        <div class="modal fade" id="ModalDelete_{{ resource.pk }}" tabindex="-1" role="dialog" aria-labelledby="ModalDelete_{{ resource.pk }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalDelete_{{ resource.pk }}">Delete resource</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to permanently delete the resource <a href="{% url 'edit-resource' resource.pk %}" target="_blank">{{ resource.name }}</a>? This will make hte resource unavilable to <strong>every user</strong>.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger" name="btn_delete_resource" value="{{ resource.pk }}"><i class="fa fa-trash" aria-hidden="true"></i>
                             Delete</button>
                    </div>
                </div>
            </div>
        </div>
        {# Unlink modal #}
        <div class="modal fade" id="ModalUnlink_{{ resource.pk }}" tabindex="-1" role="dialog" aria-labelledby="ModalUnlink_{{ resource.pk }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalUnlink_{{ resource.pk }}">Unlink resource</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to unlink the resource <a href="{% url 'edit-resource' resource.pk %}" target="_blank">{{ resource.name }}</a> from {{ lesson.title }}?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning"name="btn_unlink_resource" value="{{ resource.pk }}"><i class="fas fa-unlink"></i>

                             Unlink</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endif %}
    <button type="submit" name="btn_add_resource" value="add_resource" class="btn btn-primary"><i class="fas fa-plus"></i> resource</button>
    <button type="submit" name="btn_save" value="save_lesson" class="btn btn-primary">Save</button>

</form>

</div>
{% endblock %}
{% block script %}

    {{ form.media }}

{% endblock script %}