
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

<div id="id_mistakes-tree"></div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#id_mistakes-tree").jstree({
            'core' : {
                'data' : {
                    'url' : "/mistake_json",
                    'data' : function (node) {
                      return { 'id' : node.id };
                    }
                }
            }
        }).on(
            "select_node.jstree",
            function (e, data) {
                $("#id_mistakes").val(data.node.id);
            }
        );
    });
</script>

