asgiref==3.5.0
Django==4.0.4
numpy==1.22.3
django-autocomplete-light==3.9.4
pytz==2022.1
six==1.16.0
sqlparse==0.4.2
django-js-asset==2.0.0
django-mptt==0.13.4
psycopg2==2.9.3
gunicorn==20.1.0
django-bootstrap-dynamic-formsets==0.5.0
django-bootstrap3==21.2
werkzeug==2.0.3 # Required for correct Plotly use; see https://stackoverflow.com/questions/71654590/dash-importerror-cannot-import-name-get-current-traceback-from-werkzeug-debu
django-crispy-forms==1.14.0
django-plotly-dash==1.6.6
channels==3.0.4
daphne==3.0.2
redis==4.2.2
django-redis==5.2.0
channels-redis==3.4.0
dash_daq==0.5.0
dash-bootstrap-components
social-auth-app-django==5.0.0
django-pandas==0.6.6
django-treewidget
django-ckeditor==6.4.0
coverage
Pillow==9.1.1
gspread==5.3.2
google-api-python-client==2.45.0
jupyter
ipython==8.2.0
django-extensions==3.1.5
colorlover
django-debug-toolbar