asgiref==3.4.1
Django==3.2.11
numpy==1.21.2
django-autocomplete-light==3.8.2
pytz==2021.3
six==1.16.0
sqlparse==0.4.2
django-js-asset==1.2.2
django-mptt==0.13.4
psycopg2
gunicorn==20.1.0
django-bootstrap-dynamic-formsets==0.5.0
django-bootstrap3
django-crispy-forms==1.13.0
django-plotly-dash==1.6.6
channels==3.0.4
daphne==3.0.2
redis==3.5.3
django-redis==5.0.0
channels-redis==3.3.1
dash_daq==0.5.0
dash-bootstrap-components==0.13.1
social-auth-app-django==5.0.0
django-pandas==0.6.4
django-treewidget
django-ckeditor==6.1.0
coverage
Pillow==8.3.2
gspread==4.0.1
google-api-python-client==2.26.1
jupyter
ipython
django-extensions
colorlover
django-debug-toolbar