asgiref==3.3.1
Django==3.1.8
numpy==1.20.1
django-autocomplete-light==3.8.2
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
django-js-asset==1.2.2
django-mptt==0.11.0
psycopg2
gunicorn==20.0.4
django-bootstrap-dynamic-formsets==0.5.0
django-bootstrap3
django-crispy-forms==1.11.1
django-plotly-dash==1.6.1
channels==3.0.3
daphne==3.0.1
redis==3.5.3
django-redis==4.12.1
channels-redis==3.2.0
dash_daq==0.5.0
dash-bootstrap-components==0.11.3
social-auth-app-django==4.0.0
django-pandas==0.6.4
django-treewidget
django-ckeditor==6.0.0
coverage
Pillow==8.1.0
gspread==3.7.0
google-api-python-client==1.12.8
jupyter
ipython
django-extensions
colorlover