{% load auth_extras %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">GreenPen</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{% if request.user|has_group:"Teachers" %}{% url 'bs-sample' %}{% elif request.user|has_group:"Students" %}{% url 'student-dashboard' %}{% endif %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
    {% if request.user|has_group:"Teachers" %}
      <div class="sidebar-heading">
        Teacher
      </div>

      <!-- Nav Item - Exams Collapse Menu -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-book-open"></i>
          <span>Exams</span>
        </a>
        <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Exam Options:</h6>
            <a class="collapse-item" href="{% url 'exam-list' %}">List all Exams</a>
            <a class="collapse-item" href="{% url 'add-exam' %}">Add a new exam</a>
          </div>
        </div>
      </li>

        <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-book-open"></i>
          <span>Timetable</span>
        </a>
        <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Exam Options:</h6>
            <a class="collapse-item" href="{% url 'tt_splash' %}">My timetable</a>

          </div>
        </div>
      </li>
    {% endif %}

{% if request.user|has_group:"Students" %}
      <div class="sidebar-heading">
        Student
      </div>

      <!-- Nav Item - Exams Collapse Menu -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-book-open"></i>
          <span>Exams</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Exam Options:</h6>
            <a class="collapse-item" href="{% url 'student-exam-list-entry'%}">List my Exams</a>
          </div>
        </div>
      </li>
    {% endif %}

{% if request.user.is_staff %}
      <div class="sidebar-heading">
        Administration
      </div>

      <!-- Nav Item - Exams Collapse Menu -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-wrench"></i>
          <span>Administration</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Admin:</h6>
            <a class="collapse-item" href="/admin">Admin Portals</a>
          </div>
        </div>
      </li>
    {% endif %}
      <!-- Nav Item - Utilities Collapse Menu -->

    </ul>
